EXPO_PUBLIC_SUPABASE_URL=https://qnyukwxgrvrfwhrsaepj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFueXVrd3hncnZyZndocnNhZXBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU4OTkyNTUsImV4cCI6MjA5MTQ3NTI1NX0.82yHHZCoWOeui_zrltOqx-onq6s5G_j0emhhZobM4oE
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=
EAIzaSyBz6jmHel66wfzwB3zqjAmD73ADuv1T0EkXPO_PUBLIC_LOCATIONIQ_API_KEY=AIzaSyBz6jmHel66wfzwB3zqjAmD73ADuv1T0Ek

# Private administrative variables (never expose in app code)
SUPABASE_PROJECT_ID=qnyukwxgrvrfwhrsaepj
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFueXVrd3hncnZyZndocnNhZXBqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTg5OTI1NSwiZXhwIjoyMDkxNDc1MjU1fQ.qGFonfXJW6x0sd7AInN5Cu7v4_JXA-p3nf9JBYnXZKY
SUPABASE_ACCESS_TOKEN=sbp_eb45b61295032ee59afb12e9cc8366bdc4c4f0f2
